<div class="top">
  <h2><span class="red">ラーメン</span>じろう<%= image_tag 'jiro.png' , size: "100x100"%></h2>
  <h1 class="article-title">クーポンマシマシ</h1>
  <% unless logged_in? %>
    <%= link_to('/auth/twitter') do %>
      <div class="twitter-back">
        <i class="fab fa-twitter fa-2x twitter-button"></i>
        Twitterログイン
      </div>
    <% end %>
  <% end %>
  <%#= image_tag 'z.png', size:"500x500"%>
</div>
<div class="dex">

</div>
<div class="des1">
  <h2>サービスの流れ</h2>
  <%= image_tag 'b.png', size:"800x800"%>
</div>

<div class="des1">
  <h2>ユーザーのメリット</h2>
  <%= image_tag 'h.png', size:"800x800"%>
</div>

<div class="des1">
  <h2>お店側のメリット</h2>
  <%= image_tag 's1.png', size:"800x800"%>
  <%= image_tag 's2.png', size:"800x800"%>
  <%= image_tag 's3.png', size:"800x800"%>
</div>

<div class="des1">
  <h2>サポーターズのメリット</h2>
  <%= image_tag 'sp.png', size:"800x800"%>
  <br>
  <br>
  <%= link_to(new_ramen_path) do %>
    <button class="btn-primary">二郎の写真を撮る</button>
  <% end %>
</div>


