<nav class="border fixed split-nav">
  <% if logged_in? %>
  <div class="nav-brand">
    <%= image_tag(current_user.image_url) %>
  </div>
  <div class="collapsible">
    <ul class="inline">
      <li><%= link_to '二郎を撮る', new_ramen_path %></li>
      <li><%= link_to '全ての二郎', ramens_path %></li>
      <li><%= link_to '俺の二郎', index_my_ramens_path %></li>
      <li><%= link_to 'ログアウト', logout_path %></li>
    </ul>
  </div>
    <% end %>
</nav>

