<!DOCTYPE html>
<html>
  <head>
    <title>JiroHack</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="hoge" id="fuga">
    <ul class="hoge">
      <% if logged_in? %>
        <li><%= link_to 'ログアウト', logout_path %></li>
        <li><%= image_tag(current_user.image_url) %></li>
      <% else %>
        <li><%= link_to 'Twitterでログイン', '/auth/twitter' %></li>
      <% end %>
    </ul>
  </div>
  <div class="hoge">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
